[run]
source = src
omit =
    src/poe_orchestration.egg-info/*
    */test_*
    */tests/*

[report]
exclude_lines =
    pragma: no cover
    def __repr__
    raise NotImplementedError
    if TYPE_CHECKING:
    except ImportError:
    pass  # pragma: no cover

[html]
directory = output/coverage_html
